body {

  margin: 0;
  font-family: "Myriad Pro Regular";
  font-size: 100%;

  counter-reset: section;
}

h1, h2, h3, h4 {

  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-weight: normal;
  margin: $space * 2 0;
}

.Logo {

  padding: $space * 3 $space * 2 $space * 2;

  img {

    width: 140px;
  }
}

#Page {

  margin: 0 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: $space * 6;

  h1 { flex: 0 0 100%; }
  .Subnav { flex: 0 0 30%; }
  .Content { flex: 0 0 70%; }
}

.Subnav { 

  padding: 2% 10% 0 0;
  box-sizing: border-box;


}

figure {

  width: 60%;
  margin: 0 0 $space * 2 0;

  img {

    width: 100%;
  }
}

ul {

  padding: 0;
  margin: 0;
  list-style-position: inside; 
}

*[tabindex] {

  border: solid 1px $color-blue;
  padding: $space * 2;
  margin: $space * 2 0 $space * 2 $space * 2;
  position: relative;
  
  &:before {

    counter-increment: section;
    content: counter(section);
    position: absolute;
    top: -1px;
    right: 100%;
    padding: $space / 2 $space;
    background-color: $color-blue;
    color: $color-white;
    font-size: 80%;
  }

  &.BackTop {

    margin: $space 0;
    padding: $space / 4 $space / 2;
  }
}

.Pictos,
.GrupoImagenes {

  figure {

    display: inline-block;
    width: $space * 8;
  }
}

.ODS {

  margin-bottom: $space * 2;

  figure {

    width: $space * 16;
  }
}

.GlobalFooter {

  h3 {

    margin-top: $space * 2;
  }
}

.PictoTexto {

  figure {

    width: 10%;
  }
}