.HomeSlideB {
  
  margin: 0 auto;

  .Intro { @include textintro(); }

  .GalleryA {

    display: inline-block;
    vertical-align: top;
    width: 49%;

    @media (max-width: 768px) { width: 100%; }

    .Images {

      .ImageA,
      .ImageB {

        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding: 0 0 49% 0;
        overflow: hidden;
        position: relative;
      }
    }

    .Title {

      text-align: center;
      margin: 5% 10% 2%;
      padding: 0 0 2%;
      text-transform: uppercase;
      border: solid $color-border-dark;
      border-width: 0 0 1px 0;
    }

    .Text {

      margin: 0 10% 5%;
      text-align: center;
    }

    .More {  

      @include morelink();
      @include morelinkline();
      padding: 0 2%;
    }
  }  

  .More {  

    @include morelink();
    @include morelinkline();
    @include morelinkcenter();
    padding: 2% 0;
  }
}