.MapSections .MapContents {

  padding: 0 10% 10%;

  .MapContentsList {

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    
    .MapContent {

      flex: 0 0 25%;
      margin: 0; 
      padding: 0 $space * 1.5 $space * 5; 
      box-sizing: border-box;
      position: relative;

      @media (max-width: 768px) {

        flex: 0 0 100%;  
        padding: 0 0 $space * 5;     
      }

      h1.Title {

        display: none;
      }

      .Page {

        .MapContentPage {

          .Region {

            background-color: $color-background-light;
            color: $color-text-dark;
            cursor: pointer;
            min-height: 61px;
            position: relative;

            p {

              position: absolute;
              width: 100%;
              bottom: 0;
              padding: 2% 3%;
              box-sizing: border-box;
            }
          }

          .Link,
          .LineArrow {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }

          .Link {

            position: absolute;
            bottom: 0;
            width: calc(100% - #{ $space * 3 });
            margin: 0 auto 0 $space * 1.5;
            cursor: pointer;

            @media (max-width: 768px) {

              width: 100%;   
              margin: 0 0;
            }

            a {

              padding-left: 0;
            }

            &:after {

              left: 50px;

              @media (max-width: 768px) {

                left: 0;  
              }
            }
          }

          .LineArrow {

            border: solid $color-border-dark;
            border-width: 1px 0 0 0;
            margin: $space * 2 0 -1px 0;

            $sizearrow: 10px;

            &:after {
              content: "";
              width: 0; 
              height: 0; 
              border-top: $sizearrow solid $color-border-dark;
              border-left: $sizearrow solid transparent;
              border-right: $sizearrow solid transparent;        
              border-bottom: $sizearrow solid transparent;
              display: inline-block;
            }
          }

          .ContentGalleries {

            
          }
        }
      } 

      &.Active {

        .Page {

          .MapContentPage {

            .Region {

              p {                

                background-color: $color-background-dark;
                color: $color-text-light;
              }
            }
          }
        }
      }
    }
  }  
}