.SectionAccess {

  margin: 0 10%;

  .Title {

    font-size: 200%;
    line-height: 160%;
    text-transform: uppercase;
    color: $color-roca-blue-text;
    margin: 5% auto 2%;
    width: 70%;
    text-align: center;    
    
    @media (max-width: 768px) {

      width: 100%;
    }
  }

  .Text {

    text-align: center;
  }    

  .More {  

    @include morelink();
    @include morelinkline();
    @include morelinkcenter();
    padding: 2% 0;
    cursor: pointer;
  }
}