
.Side {

  opacity: 0;
  transform: translateX(-50%);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  &.Visible {

    opacity: 1;
    transform: translateX(0);
  }
}