
@font-face {
  font-family: 'Gotham-Bold';
  src: url('~fonts/Gotham-Bold.eot');
  src: local('☺'), 
  url('~fonts/Gotham-Bold.woff') format('woff'), 
  url('~fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-BoldIta';
  src: url('~fonts/Gotham-BoldIta.eot');
  src: local('☺'), 
  url('~fonts/Gotham-BoldIta.woff') format('woff'), 
  url('~fonts/Gotham-BoldIta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('~fonts/Gotham-Book.eot');
  src: local('☺'), 
  url('~fonts/Gotham-Book.woff') format('woff'), 
  url('~fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-BookIta';
  src: url('~fonts/Gotham-BookIta.eot');
  src: local('☺'), 
  url('~fonts/Gotham-BookIta.woff') format('woff'), 
  url('~fonts/Gotham-BookIta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('~fonts/Gotham-Light.eot');
  src: local('☺'), 
  url('~fonts/Gotham-Light.woff') format('woff'), 
  url('~fonts/Gotham-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('~fonts/Gotham-Ultra.eot');
  src: local('☺'), 
  url('~fonts/Gotham-Ultra.woff') format('woff'), 
  url('~fonts/Gotham-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-UltraIta';
  src: url('~fonts/Gotham-UltraIta.eot');
  src: local('☺'), 
  url('~fonts/Gotham-UltraIta.woff') format('woff'), 
  url('~fonts/Gotham-UltraIta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('~fonts/Gotham-ExtraLight.eot');
  src: local('☺'), 
  url('~fonts/Gotham-ExtraLight.woff') format('woff'), 
  url('~fonts/Gotham-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Condensed';
  src: url('~fonts/GothamXNarrow-Medium.eot');
  src: local('☺'), 
  url('~fonts/GothamXNarrow-Medium.woff') format('woff'), 
  url('~fonts/GothamXNarrow-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}