
// Size

$space: 8px;

// Color

$color-roca-blue-text: #506eb4;
$color-roca-blue-light: #506eb4;

$color-highlight-background: #d6e3d8;

$color-text-light: #fff;
$color-text-medium: #000;
$color-text-dark: #000;

$color-border-light: #fff;
$color-border-medium: #ccc;
$color-border-dark: #000;

$color-border-blue: $color-roca-blue-text;

$color-transparent-light: rgba(255, 255, 255, 0.75);
$color-transparent-pointdata: rgba(255, 255, 255, 0.9);

$color-arrow-blue: #012f3c;
$color-arrow-dark: #000;

$color-image-hover: rgba(80, 110, 180, 0.70);

$color-background-light: #fff;
$color-background-list-a: #f1f4ee;
$color-background-grey-a: #e6e7e9;
$color-background-dark: #000;
$color-ciclo-background: rgba(123, 184, 163, 0.5);
$color-background-popup: rgba(0, 0, 0, 0.7);
$color-background-transparentbutton: rgba(255, 255, 255, 0.5);

$color-shadows: #000;
